################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SMS/CopilotIndices/17.14.1347.20289
/.vs/SMS/FileContentIndex
*.json
*.sqlite
